<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=393, initial-scale=1.0">
  <title>게시판</title>
  <link rel="stylesheet" href="../css/community_setting_style.css">
</head>
<body>
  <div class="container">

    <!-- 상단 헤더 -->
    <header class="header">
      <div class="profile">
        <img src="../images/profile.png" alt="user" class="icon-img2">
      </div>
      <div class="title">Ssamsing community</div>
      <div class="menu-icons">
        <img src="../images/glasses.png" alt="search" class="icon-img" />
        <img src="../images/bell.png" alt="bell" class="icon-img" />
        <img src="../images/menu.png" alt="menu" class="icon-img" />
      </div>
      
    </header>

    <!-- 섹션 제목 -->
    <h2 class="section-title">게시판</h2>
    
    <!-- 공지 카드 -->
    <div class="notice-card">
      <p class="card-title">공지 사항</p>
      <p class="card-date">8월 1일 (금)</p>
      <p class="card-link">회의록 작성 | 전체 보기</p>
    </div>

    <!-- 상단 기능 메뉴 -->
    <ul class="board-menu">
      <li><img class="menu-icon" src="../images/pan.png" alt="내가 쓴 글"> 내가 쓴 글</li>
      <li><img class="menu-icon" src="../images/talk.png" alt="댓글 단 글"> 댓글 단 글</li>
      <li><img class="menu-icon" src="../images/bookmark.png" alt="스크랩"> 스크랩</li>
      <li><img class="menu-icon" src="../images/fire.png" alt="HOT"> HOT 게시판</li>
      <li><img class="menu-icon" src="../images/worldcup.png" alt="BEST"> BEST 게시판</li>
    </ul>

    <hr class="divider">

    <!-- 게시판 리스트 -->
    <ul class="board-list">
      <li><img class="menu-icon" src="../images/too.png" alt="자유"> 자유게시판 <span class="new-tag">N</span></li>
      <li><img class="menu-icon" src="../images/too.png" alt="비밀"> 비밀게시판</li>
      <li><img class="menu-icon" src="../images/too.png" alt="정치"> 정치게시판</li>
      <li><img class="menu-icon" src="../images/too.png" alt="맛집"> 맛집게시판</li>
    </ul>

  </div>
</body>
</html>
